In [1]:
import pandas as pd
import numpy as np 
athlete_events= pd.read_csv('/Users/camille/repo/Hetic/analyse_explo/dataset_csv/athlete_events.csv')

In [48]:
athlete_events["prout"] = None

In [2]:
athlete_events

,Unnamed: 0,ID,Name,Sex,Age,Height,Weight,Team,Games,Year,Season,Sport,Event,Medal,Country_orga,nb_medals_year_country_season,countryName
0,0,14840,Andreas Bang Brecke,M,40.0,NaN,NaN,Jo,1920 Summer,1920,Summer,Sailing,Sailing Mixed 6 metres,Gold,Belgium,3,Norway
1,1,56486,Paal Kaasen,M,36.0,NaN,NaN,Jo,1920 Summer,1920,Summer,Sailing,Sailing Mixed 6 metres,Gold,Belgium,3,Norway
2,2,103129,Ingolf Richard Rd,M,30.0,NaN,NaN,Jo,1920 Summer,1920,Summer,Sailing,Sailing Mixed 6 metres,Gold,Belgium,3,Norway
3,3,58576,Godfrey Kenneth Kelly,M,31.0,175.0,75.0,Bim,1960 Summer,1960,Summer,Sailing,Sailing Mixed Three Person Keelboat,NaN,Italy,3,Bahamas
4,4,58585,Maurice George Kelly,M,35.0,179.0,79.0,Bim,1960 Summer,1960,Summer,Sailing,Sailing Mixed Three Person Keelboat,NaN,Italy,3,Bahamas
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,271111,94539,Demetrios Piaditis,M,NaN,NaN,NaN,"Large boat, Central Naval Prep School ""Poros""-1",1906 Summer,1906,Summer,Rowing,Rowing Men's 17-Man Naval Rowing Boats,Gold,Greece,17,Greece
271112,271112,94894,Ioannis Pilouris,M,NaN,NaN,NaN,"Large boat, Central Naval Prep School ""Poros""-1",1906 Summer,1906,Summer,Rowing,Rowing Men's 17-Man Naval Rowing Boats,Gold,Greece,17,Greece
271113,271113,112827,Mikhail Sokos,M,NaN,NaN,NaN,"Large boat, Central Naval Prep School ""Poros""-1",1906 Summer,1906,Summer,Rowing,Rowing Men's 17-Man Naval Rowing Boats,Gold,Greece,17,Greece
271114,271114,122322,Khristos Tsirigotakis,M,NaN,NaN,NaN,"Large boat, Central Naval Prep School ""Poros""-1",1906 Summer,1906,Summer,Rowing,Rowing Men's 17-Man Naval Rowing Boats,Gold,Greece,17,Greece
271115,271115,125805,Petros Velliotis,M,NaN,NaN,NaN,"Large boat, Central Naval Prep School ""Poros""-1",1906 Summer,1906,Summer,Rowing,Rowing Men's 17-Man Naval Rowing Boats,Gold,Greece,17,Greece

In [3]:
athlete_events["at_home"] = np.where(athlete_events['Country_orga']== athlete_events["countryName"], True, False)

In [4]:
athlete_events

,Unnamed: 0,ID,Name,Sex,Age,Height,Weight,Team,Games,Year,Season,Sport,Event,Medal,Country_orga,nb_medals_year_country_season,countryName,at_home
0,0,14840,Andreas Bang Brecke,M,40.0,NaN,NaN,Jo,1920 Summer,1920,Summer,Sailing,Sailing Mixed 6 metres,Gold,Belgium,3,Norway,False
1,1,56486,Paal Kaasen,M,36.0,NaN,NaN,Jo,1920 Summer,1920,Summer,Sailing,Sailing Mixed 6 metres,Gold,Belgium,3,Norway,False
2,2,103129,Ingolf Richard Rd,M,30.0,NaN,NaN,Jo,1920 Summer,1920,Summer,Sailing,Sailing Mixed 6 metres,Gold,Belgium,3,Norway,False
3,3,58576,Godfrey Kenneth Kelly,M,31.0,175.0,75.0,Bim,1960 Summer,1960,Summer,Sailing,Sailing Mixed Three Person Keelboat,NaN,Italy,3,Bahamas,False
4,4,58585,Maurice George Kelly,M,35.0,179.0,79.0,Bim,1960 Summer,1960,Summer,Sailing,Sailing Mixed Three Person Keelboat,NaN,Italy,3,Bahamas,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,271111,94539,Demetrios Piaditis,M,NaN,NaN,NaN,"Large boat, Central Naval Prep School ""Poros""-1",1906 Summer,1906,Summer,Rowing,Rowing Men's 17-Man Naval Rowing Boats,Gold,Greece,17,Greece,True
271112,271112,94894,Ioannis Pilouris,M,NaN,NaN,NaN,"Large boat, Central Naval Prep School ""Poros""-1",1906 Summer,1906,Summer,Rowing,Rowing Men's 17-Man Naval Rowing Boats,Gold,Greece,17,Greece,True
271113,271113,112827,Mikhail Sokos,M,NaN,NaN,NaN,"Large boat, Central Naval Prep School ""Poros""-1",1906 Summer,1906,Summer,Rowing,Rowing Men's 17-Man Naval Rowing Boats,Gold,Greece,17,Greece,True
271114,271114,122322,Khristos Tsirigotakis,M,NaN,NaN,NaN,"Large boat, Central Naval Prep School ""Poros""-1",1906 Summer,1906,Summer,Rowing,Rowing Men's 17-Man Naval Rowing Boats,Gold,Greece,17,Greece,True
271115,271115,125805,Petros Velliotis,M,NaN,NaN,NaN,"Large boat, Central Naval Prep School ""Poros""-1",1906 Summer,1906,Summer,Rowing,Rowing Men's 17-Man Naval Rowing Boats,Gold,Greece,17,Greece,True

In [5]:
athlete_events["at_home"] = np.where(athlete_events['Country_orga']== athlete_events["countryName"], True, False)

In [6]:
athlete_events= athlete_events.drop(["Sex","Age","Height","Weight" ], axis=1)

In [7]:
athlete_events

,Unnamed: 0,ID,Name,Team,Games,Year,Season,Sport,Event,Medal,Country_orga,nb_medals_year_country_season,countryName,at_home
0,0,14840,Andreas Bang Brecke,Jo,1920 Summer,1920,Summer,Sailing,Sailing Mixed 6 metres,Gold,Belgium,3,Norway,False
1,1,56486,Paal Kaasen,Jo,1920 Summer,1920,Summer,Sailing,Sailing Mixed 6 metres,Gold,Belgium,3,Norway,False
2,2,103129,Ingolf Richard Rd,Jo,1920 Summer,1920,Summer,Sailing,Sailing Mixed 6 metres,Gold,Belgium,3,Norway,False
3,3,58576,Godfrey Kenneth Kelly,Bim,1960 Summer,1960,Summer,Sailing,Sailing Mixed Three Person Keelboat,NaN,Italy,3,Bahamas,False
4,4,58585,Maurice George Kelly,Bim,1960 Summer,1960,Summer,Sailing,Sailing Mixed Three Person Keelboat,NaN,Italy,3,Bahamas,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,271111,94539,Demetrios Piaditis,"Large boat, Central Naval Prep School ""Poros""-1",1906 Summer,1906,Summer,Rowing,Rowing Men's 17-Man Naval Rowing Boats,Gold,Greece,17,Greece,True
271112,271112,94894,Ioannis Pilouris,"Large boat, Central Naval Prep School ""Poros""-1",1906 Summer,1906,Summer,Rowing,Rowing Men's 17-Man Naval Rowing Boats,Gold,Greece,17,Greece,True
271113,271113,112827,Mikhail Sokos,"Large boat, Central Naval Prep School ""Poros""-1",1906 Summer,1906,Summer,Rowing,Rowing Men's 17-Man Naval Rowing Boats,Gold,Greece,17,Greece,True
271114,271114,122322,Khristos Tsirigotakis,"Large boat, Central Naval Prep School ""Poros""-1",1906 Summer,1906,Summer,Rowing,Rowing Men's 17-Man Naval Rowing Boats,Gold,Greece,17,Greece,True
271115,271115,125805,Petros Velliotis,"Large boat, Central Naval Prep School ""Poros""-1",1906 Summer,1906,Summer,Rowing,Rowing Men's 17-Man Naval Rowing Boats,Gold,Greece,17,Greece,True

In [23]:
athlete_events["nb_medals_year_country_season"] = athlete_events.groupby(['Games','countryName']).Year.transform("count")

In [36]:
athlete_events

,Unnamed: 0,ID,Name,Team,Games,Year,Season,Sport,Event,Medal,Country_orga,nb_medals_year_country_season,countryName,at_home
0,0,14840,Andreas Bang Brecke,Jo,1920 Summer,1920,Summer,Sailing,Sailing Mixed 6 metres,Gold,Belgium,267.0,Norway,False
1,1,56486,Paal Kaasen,Jo,1920 Summer,1920,Summer,Sailing,Sailing Mixed 6 metres,Gold,Belgium,267.0,Norway,False
2,2,103129,Ingolf Richard Rd,Jo,1920 Summer,1920,Summer,Sailing,Sailing Mixed 6 metres,Gold,Belgium,267.0,Norway,False
3,3,58576,Godfrey Kenneth Kelly,Bim,1960 Summer,1960,Summer,Sailing,Sailing Mixed Three Person Keelboat,NaN,Italy,14.0,Bahamas,False
4,4,58585,Maurice George Kelly,Bim,1960 Summer,1960,Summer,Sailing,Sailing Mixed Three Person Keelboat,NaN,Italy,14.0,Bahamas,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,271111,94539,Demetrios Piaditis,"Large boat, Central Naval Prep School ""Poros""-1",1906 Summer,1906,Summer,Rowing,Rowing Men's 17-Man Naval Rowing Boats,Gold,Greece,484.0,Greece,True
271112,271112,94894,Ioannis Pilouris,"Large boat, Central Naval Prep School ""Poros""-1",1906 Summer,1906,Summer,Rowing,Rowing Men's 17-Man Naval Rowing Boats,Gold,Greece,484.0,Greece,True
271113,271113,112827,Mikhail Sokos,"Large boat, Central Naval Prep School ""Poros""-1",1906 Summer,1906,Summer,Rowing,Rowing Men's 17-Man Naval Rowing Boats,Gold,Greece,484.0,Greece,True
271114,271114,122322,Khristos Tsirigotakis,"Large boat, Central Naval Prep School ""Poros""-1",1906 Summer,1906,Summer,Rowing,Rowing Men's 17-Man Naval Rowing Boats,Gold,Greece,484.0,Greece,True
271115,271115,125805,Petros Velliotis,"Large boat, Central Naval Prep School ""Poros""-1",1906 Summer,1906,Summer,Rowing,Rowing Men's 17-Man Naval Rowing Boats,Gold,Greece,484.0,Greece,True

In [ ]:
athlete_events.loc[(athlete_events['Year'] >=