Data récuperé sur collab

In [1]:
import pandas as pd
import numpy as np

In [ ]:
"""
import pandas as pd
# @title Setup
from google.colab import auth
from google.cloud import bigquery
from google.colab import data_table

project = 'projectjo2024' 
from google.colab import auth
auth.authenticate_user()
client = bigquery.Client(project=project)
data_table.enable_dataframe_formatter()
client = bigquery.Client(project=project)
athlete_events = client.query('''

SELECT * FROM `projectjo2024.2024_122022.athlete_events`

  ''').to_dataframe()
  """

In [ ]:
"""c2 = {
    "URS" : "Soviet Union",
    "RHO" : "Rhodesia",
    "SAA" : "Saar",
    "CRT" : 'Crete',
    "WIF" : "West Indies Federation ",
    "MAL" :  "Malaysia",
    'BOH' : " Bohemia",
    "LIB" : "French Liban",
    "UNK" : "Unknow", 
    "YUG" : "Yugoslavia", 
    "ANZ" : "Australasia",
    "YAR" : " Yemen Arab Republic", 
    "YMD" : "South Yemen",
    "GRD" : "GRENADA",
    "NFL" : "USA", 
    "NBO" : "North Borneo",
    "EUN" : "Unified Team",
    "FRG" : "West Germany",
    "VMH" : "South Vietnam",
    "TCH" : "Czechoslovakia",
    "AHO" : "Netherlands Antilles", 
    "UAR" : "United Arab Republic",
    "SCG" : "Serbia and Montenegro",
    "ROT" : "Refugee Olympic Team",
    "GDR" : "East Germany",
    "VNM" :  "Vietnam", 
    "IOA" : "Indian Olympic Association"

    }
ioc = pd.read_html('https://en.wikipedia.org/wiki/List_of_IOC_country_codes')[0]
ioc = ioc.assign(Code=ioc['Code'].str[-3:]).set_index('Code')['National Olympic Committee']
ioc = ioc.to_dict()
ioc.update(c2)
athlete_events['countryName'] = athlete_events['NOC'].map(ioc) 
athlete_events= athlete_events.drop(["NOC"], axis=1)
"""

Pour connaitre les NaNs

In [ ]:
""""
athlete_events['countryName'].isna().sum()
nan_in_col  = athlete_events[athlete_events['countryName'].isnull()]
nan_in_col.NOC.unique()
"""

In [2]:
athlete_events= pd.read_csv('/Users/camille/repo/Hetic/analyse_explo/athlete_events.csv')

In [4]:
country =  {'Madrid':'Spain',
            'Roma':'Italy',
            'Amsterdam':'Netherlands',
            'Tokyo':'Japan' ,
            'Helsinki':'Finland',
            'Los Angeles':'USA' ,
            'London':'England' ,
            'Berlin':'Germany' ,
            'Melbourne':'Australia' ,
            'Paris':'France',
            'Mexico City':'Mexico',
            'Munich':'Germany',
            'Seoul':'South Korea',
            'Barcelona':'Spain',
            'Atlanta':'USA',
            'Sydney':'Australia',
            'Athina':'Greece',
            'Beijing':'China',
            'Rio de Janeiro':'Brasil',
            'St. Louis':'USA',
            'Montreal':'Canada',
            'Moskva':'Russia',
            'Calgary':'Canada',
            'Lillehammer':'Norway',
            'Salt Lake City':'USA',
            "Cortina d'Ampezzo":'Italy',
            'Innsbruck':'Austria',
            'Grenoble':'France',
            'Saporo':'Japan',
            'Nagano':'Japan',
            'Torino':'Italy',
            'Vancouver':'Canada',
            'Sochi':'Russia',
            'Stockholm':'Sweden',
            'Sankt Moritz':'Switzerland',
            'Oslo':'Norway',
            'Squaw Valley':'USA',
            'Sarajevo':'Bosnia and Herzegovina',
            'Albertville':'France',
            'Lake Placid':'USA',
            'Chamonix':'France',
            'Garmisch-Partenkirchen':'Germany',
            'Antwerpen' : 'Belgium',
            'Sapporo' : 'Japan'

            }

In [5]:
athlete_events["Country_orga"]= athlete_events["City"].map(country)
athlete_events= athlete_events.drop(["City"], axis=1)

In [6]:
athlete_events["at_home"] = np.where(athlete_events['Country_orga']== athlete_events["countryName"], True, False)

In [9]:
athlete_events['Medal'].isna().sum()

231333

In [86]:
athlete_events

,Unnamed: 0,ID,Name,Sex,Age,Height,Weight,Team,Games,Year,Season,Sport,Event,Medal,countryName,Country_orga,at_home
0,0,14840,Andreas Bang Brecke,M,40.0,NaN,NaN,Jo,1920 Summer,1920,Summer,Sailing,Sailing Mixed 6 metres,Gold,Norway,Belgium,False
1,1,56486,Paal Kaasen,M,36.0,NaN,NaN,Jo,1920 Summer,1920,Summer,Sailing,Sailing Mixed 6 metres,Gold,Norway,Belgium,False
2,2,103129,Ingolf Richard Rd,M,30.0,NaN,NaN,Jo,1920 Summer,1920,Summer,Sailing,Sailing Mixed 6 metres,Gold,Norway,Belgium,False
3,3,58576,Godfrey Kenneth Kelly,M,31.0,175.0,75.0,Bim,1960 Summer,1960,Summer,Sailing,Sailing Mixed Three Person Keelboat,NaN,Bahamas,Italy,False
4,4,58585,Maurice George Kelly,M,35.0,179.0,79.0,Bim,1960 Summer,1960,Summer,Sailing,Sailing Mixed Three Person Keelboat,NaN,Bahamas,Italy,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,271111,94539,Demetrios Piaditis,M,NaN,NaN,NaN,"Large boat, Central Naval Prep School ""Poros""-1",1906 Summer,1906,Summer,Rowing,Rowing Men's 17-Man Naval Rowing Boats,Gold,Greece,Greece,True
271112,271112,94894,Ioannis Pilouris,M,NaN,NaN,NaN,"Large boat, Central Naval Prep School ""Poros""-1",1906 Summer,1906,Summer,Rowing,Rowing Men's 17-Man Naval Rowing Boats,Gold,Greece,Greece,True
271113,271113,112827,Mikhail Sokos,M,NaN,NaN,NaN,"Large boat, Central Naval Prep School ""Poros""-1",1906 Summer,1906,Summer,Rowing,Rowing Men's 17-Man Naval Rowing Boats,Gold,Greece,Greece,True
271114,271114,122322,Khristos Tsirigotakis,M,NaN,NaN,NaN,"Large boat, Central Naval Prep School ""Poros""-1",1906 Summer,1906,Summer,Rowing,Rowing Men's 17-Man Naval Rowing Boats,Gold,Greece,Greece,True
271115,271115,125805,Petros Velliotis,M,NaN,NaN,NaN,"Large boat, Central Naval Prep School ""Poros""-1",1906 Summer,1906,Summer,Rowing,Rowing Men's 17-Man Naval Rowing Boats,Gold,Greece,Greece,True

In [79]:
df = athlete_events.groupby(['Games','countryName', 'Medal']).Event.nunique().to_frame('count')

In [ ]:
df_pivot = pd.pivot_table(athlete_events, values= )

In [ ]:
sum_men = df[df['Gender']=='M'].groupby ('Country' )['Score'].sum().reset_index() #watch the reset_index()
sum_women = df[df['Gender']=='W'].groupby ('Country' )['Score'].sum().reset_index()
new_df = sum_men.merge(sum_women, on="Country")
new_df['diff'] = new_df['Score_x'] - new_df['Score_y']
new_df

In [255]:
medal_counts = athlete_events.pivot_table(index=['countryName', 'Games'], values='Event', columns= 'Medal', aggfunc=lambda x: len(x.unique()))

In [256]:
medal_counts.reset_index(inplace=True)

In [257]:
medal_counts.fillna(0, inplace=True)

In [258]:
medal_counts['Total'] = medal_counts['Gold'] + medal_counts['Silver'] + medal_counts['Bronze']
medal_counts

Medal  countryName        Games  Bronze  Gold  Silver  Total
0          Bohemia  1900 Summer     2.0   0.0     1.0    3.0
1          Bohemia  1906 Summer     2.0   0.0     0.0    2.0
2          Bohemia  1908 Summer     2.0   0.0     0.0    2.0
3      Afghanistan  2008 Summer     1.0   0.0     0.0    1.0
4      Afghanistan  2012 Summer     1.0   0.0     0.0    1.0
...            ...          ...     ...   ...     ...    ...
1652        Zambia  1984 Summer     1.0   0.0     0.0    1.0
1653        Zambia  1996 Summer     0.0   0.0     1.0    1.0
1654      Zimbabwe  1980 Summer     0.0   1.0     0.0    1.0
1655      Zimbabwe  2004 Summer     1.0   1.0     1.0    3.0
1656      Zimbabwe  2008 Summer     0.0   1.0     3.0    4.0

[1657 rows x 6 columns]

In [259]:
medal_countsA = athlete_events.pivot_table(index=['countryName', 'Games', 'at_home'], values='Event', columns= 'Medal', aggfunc=lambda x: len(x.unique()))

In [260]:
medal_countsA.reset_index(inplace=True)

In [261]:
medal_countsA

Medal  countryName        Games  at_home  Bronze  Gold  Silver
0          Bohemia  1900 Summer    False     2.0   NaN     1.0
1          Bohemia  1906 Summer    False     2.0   NaN     NaN
2          Bohemia  1908 Summer    False     2.0   NaN     NaN
3      Afghanistan  2008 Summer    False     1.0   NaN     NaN
4      Afghanistan  2012 Summer    False     1.0   NaN     NaN
...            ...          ...      ...     ...   ...     ...
1653        Zambia  1984 Summer    False     1.0   NaN     NaN
1654        Zambia  1996 Summer    False     NaN   NaN     1.0
1655      Zimbabwe  1980 Summer    False     NaN   1.0     NaN
1656      Zimbabwe  2004 Summer    False     1.0   1.0     1.0
1657      Zimbabwe  2008 Summer    False     NaN   1.0     3.0

[1658 rows x 6 columns]

In [264]:
medal_counts_full=pd.merge(medal_counts, medal_countsA[["countryName", "Games", "at_home"] ], on=["countryName", "Games"])

In [266]:
medal_counts_full[ medal_counts_full['at_home']]

Medal  countryName        Games  Bronze  Gold  Silver  Total  at_home
50       Australia  1956 Summer    14.0  13.0     8.0   35.0     True
63       Australia  2000 Summer    17.0  16.0    25.0   58.0     True
94         Austria  1964 Winter     3.0   4.0     5.0   12.0     True
100        Austria  1976 Winter     2.0   2.0     2.0    6.0     True
154        Belgium  1920 Summer    14.0  16.0    12.0   42.0     True
257         Canada  1976 Summer     6.0   0.0     5.0   11.0     True
263         Canada  1988 Winter     3.0   0.0     2.0    5.0     True
274         Canada  2010 Winter     5.0  14.0     7.0   26.0     True
296          China  2008 Summer    28.0  51.0    21.0  100.0     True
487        Finland  1952 Summer    13.0   6.0     3.0   22.0     True
522         France  1900 Summer    34.0  28.0    40.0  102.0     True
528         France  1924 Summer    12.0  14.0    14.0   40.0     True
529         France  1924 Winter     3.0   0.0     0.0    3.0     True
546         France  1968 Winter     2.0   4.0     3.0    9.0     True
558         France  1992 Winter     1.0   3.0     5.0    9.0     True
591        Germany  1936 Summer    32.0  38.0    31.0  101.0     True
592        Germany  1936 Winter     0.0   3.0     3.0    6.0     True
663         Greece  1896 Summer    17.0  10.0    17.0   44.0     True
665         Greece  1906 Summer    13.0   8.0    14.0   35.0     True
680         Greece  2004 Summer     4.0   6.0     6.0   16.0     True
812          Italy  1956 Winter     0.0   1.0     2.0    3.0     True
813          Italy  1960 Summer    13.0  13.0    10.0   36.0     True
837          Italy  2006 Winter     6.0   5.0     0.0   11.0     True
869          Japan  1964 Summer     8.0  16.0     5.0   29.0     True
872          Japan  1972 Winter     1.0   1.0     1.0    3.0     True
883          Japan  1998 Winter     4.0   5.0     1.0   10.0     True
963         Mexico  1968 Summer     3.0   3.0     3.0    9.0     True
1014   Netherlands  1928 Summer     5.0   8.0    10.0   23.0     True
1113        Norway  1952 Winter     6.0   7.0     3.0   16.0     True
1132        Norway  1994 Winter     5.0   8.0    10.0   23.0     True
1254        Russia  2014 Winter     9.0  13.0    11.0   33.0     True
1315   South Korea  1988 Summer    11.0  12.0    10.0   33.0     True
1361         Spain  1992 Summer     2.0  13.0     7.0   22.0     True
1377        Sweden  1912 Summer    17.0  24.0    24.0   65.0     True
1392        Sweden  1956 Summer     6.0   8.0     5.0   19.0     True
1433   Switzerland  1928 Winter     1.0   0.0     0.0    1.0     True
1439   Switzerland  1948 Winter     2.0   3.0     4.0    9.0     True

In [267]:
medal_counts_full.loc[ medal_counts_full['at_home'] , 'Total_host']=medal_counts_full['Total'] 
medal_counts_full.loc[ medal_counts_full['at_home']==False , 'Total_not_host']=medal_counts_full['Total'] 
medal_counts_full

Medal,countryName,Games,Bronze,Gold,Silver,Total,at_home,Total_host,Total_not_host
0,Bohemia,1900 Summer,2.0,0.0,1.0,3.0,False,NaN,3.0
1,Bohemia,1906 Summer,2.0,0.0,0.0,2.0,False,NaN,2.0
2,Bohemia,1908 Summer,2.0,0.0,0.0,2.0,False,NaN,2.0
3,Afghanistan,2008 Summer,1.0,0.0,0.0,1.0,False,NaN,1.0
4,Afghanistan,2012 Summer,1.0,0.0,0.0,1.0,False,NaN,1.0
...,...,...,...,...,...,...,...,...,...
1653,Zambia,1984 Summer,1.0,0.0,0.0,1.0,False,NaN,1.0
1654,Zambia,1996 Summer,0.0,0.0,1.0,1.0,False,NaN,1.0
1655,Zimbabwe,1980 Summer,0.0,1.0,0.0,1.0,False,NaN,1.0
1656,Zimbabwe,2004 Summer,1.0,1.0,1.0,3.0,False,NaN,3.0
1657,Zimbabwe,2008 Summer,0.0,1.0,3.0,4.0,False,NaN,4.0

In [271]:
medal_counts_full.loc[ medal_counts_full['at_home'] , 'Total_host']=medal_counts_full['Total'] 
medal_counts_full

Medal,countryName,Games,Bronze,Gold,Silver,Total,at_home,Total_host,Total_not_host
0,Bohemia,1900 Summer,2.0,0.0,1.0,3.0,False,NaN,3.0
1,Bohemia,1906 Summer,2.0,0.0,0.0,2.0,False,NaN,2.0
2,Bohemia,1908 Summer,2.0,0.0,0.0,2.0,False,NaN,2.0
3,Afghanistan,2008 Summer,1.0,0.0,0.0,1.0,False,NaN,1.0
4,Afghanistan,2012 Summer,1.0,0.0,0.0,1.0,False,NaN,1.0
...,...,...,...,...,...,...,...,...,...
1653,Zambia,1984 Summer,1.0,0.0,0.0,1.0,False,NaN,1.0
1654,Zambia,1996 Summer,0.0,0.0,1.0,1.0,False,NaN,1.0
1655,Zimbabwe,1980 Summer,0.0,1.0,0.0,1.0,False,NaN,1.0
1656,Zimbabwe,2004 Summer,1.0,1.0,1.0,3.0,False,NaN,3.0
1657,Zimbabwe,2008 Summer,0.0,1.0,3.0,4.0,False,NaN,4.0

In [251]:
medal_counts['Total'] = medal_counts['Gold'] + medal_counts['Silver'] + medal_counts['Bronze']
medal_counts

Medal  level_0  index  countryName        Games  Bronze  Gold  Silver  Total
0            0      0      Bohemia  1900 Summer     2.0   0.0     1.0    3.0
1            1      1      Bohemia  1906 Summer     2.0   0.0     0.0    2.0
2            2      2      Bohemia  1908 Summer     2.0   0.0     0.0    2.0
3            3      3  Afghanistan  2008 Summer     1.0   0.0     0.0    1.0
4            4      4  Afghanistan  2012 Summer     1.0   0.0     0.0    1.0
...        ...    ...          ...          ...     ...   ...     ...    ...
1652      1652   1652       Zambia  1984 Summer     1.0   0.0     0.0    1.0
1653      1653   1653       Zambia  1996 Summer     0.0   0.0     1.0    1.0
1654      1654   1654     Zimbabwe  1980 Summer     0.0   1.0     0.0    1.0
1655      1655   1655     Zimbabwe  2004 Summer     1.0   1.0     1.0    3.0
1656      1656   1656     Zimbabwe  2008 Summer     0.0   1.0     3.0    4.0

[1657 rows x 8 columns]

In [520]:
medal_counts_full[ medal_counts_full['at_home']]

Medal,countryName,Games,Bronze,Gold,Silver,Total,at_home,Total_host,Total_not_host
50,Australia,1956 Summer,14.0,13.0,8.0,35.0,True,35.0,NaN
63,Australia,2000 Summer,17.0,16.0,25.0,58.0,True,58.0,NaN
94,Austria,1964 Winter,3.0,4.0,5.0,12.0,True,12.0,NaN
100,Austria,1976 Winter,2.0,2.0,2.0,6.0,True,6.0,NaN
154,Belgium,1920 Summer,14.0,16.0,12.0,42.0,True,42.0,NaN
257,Canada,1976 Summer,6.0,0.0,5.0,11.0,True,11.0,NaN
263,Canada,1988 Winter,3.0,0.0,2.0,5.0,True,5.0,NaN
274,Canada,2010 Winter,5.0,14.0,7.0,26.0,True,26.0,NaN
296,China,2008 Summer,28.0,51.0,21.0,100.0,True,100.0,NaN
487,Finland,1952 Summer,13.0,6.0,3.0,22.0,True,22.0,NaN
522,France,1900 Summer,34.0,28.0,40.0,102.0,True,102.0,NaN
528,France,1924 Summer,12.0,14.0,14.0,40.0,True,40.0,NaN
529,France,1924 Winter,3.0,0.0,0.0,3.0,True,3.0,NaN
546,France,1968 Winter,2.0,4.0,3.0,9.0,True,9.0,NaN
558,France,1992 Winter,1.0,3.0,5.0,9.0,True,9.0,NaN
591,Germany,1936 Summer,32.0,38.0,31.0,101.0,True,101.0,NaN
592,Germany,1936 Winter,0.0,3.0,3.0,6.0,True,6.0,NaN
663,Greece,1896 Summer,17.0,10.0,17.0,44.0,True,44.0,NaN
665,Greece,1906 Summer,13.0,8.0,14.0,35.0,True,35.0,NaN
680,Greece,2004 Summer,4.0,6.0,6.0,16.0,True,16.0,NaN
812,Italy,1956 Winter,0.0,1.0,2.0,3.0,True,3.0,NaN
813,Italy,1960 Summer,13.0,13.0,10.0,36.0,True,36.0,NaN
837,Italy,2006 Winter,6.0,5.0,0.0,11.0,True,11.0,NaN
869,Japan,1964 Summer,8.0,16.0,5.0,29.0,True,29.0,NaN
872,Japan,1972 Winter,1.0,1.0,1.0,3.0,True,3.0,NaN
883,Japan,1998 Winter,4.0,5.0,1.0,10.0,True,10.0,NaN
963,Mexico,1968 Summer,3.0,3.0,3.0,9.0,True,9.0,NaN
1014,Netherlands,1928 Summer,5.0,8.0,10.0,23.0,True,23.0,NaN
1113,Norway,1952 Winter,6.0,7.0,3.0,16.0,True,16.0,NaN
1132,Norway,1994 Winter,5.0,8.0,10.0,23.0,True,23.0,NaN
1254,Russia,2014 Winter,9.0,13.0,11.0,33.0,True,33.0,NaN
1315,South Korea,1988 Summer,11.0,12.0,10.0,33.0,True,33.0,NaN
1361,Spain,1992 Summer,2.0,13.0,7.0,22.0,True,22.0,NaN
1377,Sweden,1912 Summer,17.0,24.0,24.0,65.0,True,65.0,NaN
1392,Sweden,1956 Summer,6.0,8.0,5.0,19.0,True,19.0,NaN
1433,Switzerland,1928 Winter,1.0,0.0,0.0,1.0,True,1.0,NaN
1439,Switzerland,1948 Winter,2.0,3.0,4.0,9.0,True,9.0,NaN

In [521]:
medal_counts_full.loc[ medal_counts_full['at_home'] , 'Total_host']=medal_counts_full['Total'] 
medal_counts_full.loc[ medal_counts_full['at_home']==False , 'Total_not_host']=medal_counts_full['Total'] 
medal_counts_full

Medal,countryName,Games,Bronze,Gold,Silver,Total,at_home,Total_host,Total_not_host
0,Bohemia,1900 Summer,2.0,0.0,1.0,3.0,False,NaN,3.0
1,Bohemia,1906 Summer,2.0,0.0,0.0,2.0,False,NaN,2.0
2,Bohemia,1908 Summer,2.0,0.0,0.0,2.0,False,NaN,2.0
3,Afghanistan,2008 Summer,1.0,0.0,0.0,1.0,False,NaN,1.0
4,Afghanistan,2012 Summer,1.0,0.0,0.0,1.0,False,NaN,1.0
...,...,...,...,...,...,...,...,...,...
1653,Zambia,1984 Summer,1.0,0.0,0.0,1.0,False,NaN,1.0
1654,Zambia,1996 Summer,0.0,0.0,1.0,1.0,False,NaN,1.0
1655,Zimbabwe,1980 Summer,0.0,1.0,0.0,1.0,False,NaN,1.0
1656,Zimbabwe,2004 Summer,1.0,1.0,1.0,3.0,False,NaN,3.0
1657,Zimbabwe,2008 Summer,0.0,1.0,3.0,4.0,False,NaN,4.0

J'aime tester des trucs

In [528]:
medal_countsB = athlete_events.pivot_table(index=['countryName', 'at_home','Year'], values='Event', columns= ['Medal'], aggfunc=lambda x: len(x.unique()))
medal_countsB.reset_index(inplace=True)
medal_countsB

In [530]:
host =medal_countsB[medal_countsB.at_home==True]
host['Total_host'] = host['Gold'] + host['Silver'] + host['Bronze']
host.drop(['Gold','Silver','Bronze' ], axis=1, inplace=True)
host

Medal  countryName  at_home  Year  Bronze  Gold  Silver
0          Bohemia    False  1900     2.0   NaN     1.0
1          Bohemia    False  1906     2.0   NaN     NaN
2          Bohemia    False  1908     2.0   NaN     NaN
3      Afghanistan    False  2008     1.0   NaN     NaN
4      Afghanistan    False  2012     1.0   NaN     NaN
...            ...      ...   ...     ...   ...     ...
1451        Zambia    False  1984     1.0   NaN     NaN
1452        Zambia    False  1996     NaN   NaN     1.0
1453      Zimbabwe    False  1980     NaN   1.0     NaN
1454      Zimbabwe    False  2004     1.0   1.0     1.0
1455      Zimbabwe    False  2008     NaN   1.0     3.0

[1456 rows x 6 columns]

In [537]:

vistor =medal_countsB[medal_countsB.at_home==False]
vistor['Total_v'] = vistor['Gold'] + vistor['Silver'] + vistor['Bronze']
vistor.drop(['Gold','Silver','Bronze' ], axis=1, inplace=True)
vistor

/var/folders/vh/yn_93j315gn6jdvz7f2d73_m0000gn/T/ipykernel_18737/558403861.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vistor['Total_v'] = vistor['Gold'] + vistor['Silver'] + vistor['Bronze']
/var/folders/vh/yn_93j315gn6jdvz7f2d73_m0000gn/T/ipykernel_18737/558403861.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vistor.drop(['Gold','Silver','Bronze' ], axis=1, inplace=True)

Comparaison hosts/visiteurs. On supprimes les pays ayants  jamais host

In [540]:
countries_to_compare = pd.merge(vistor, host, on=['countryName'], how='inner')
countries_to_compare

Medal  countryName  at_home_x  Year_x  Total_v  at_home_y  Year_y  Total_host
0        Australia      False    1896      NaN       True    1956        35.0
1        Australia      False    1896      NaN       True    2000        58.0
2        Australia      False    1900      NaN       True    1956        35.0
3        Australia      False    1900      NaN       True    2000        58.0
4        Australia      False    1904      NaN       True    1956        35.0
..             ...        ...     ...      ...        ...     ...         ...
980    Switzerland      False    2012      NaN       True    1948         9.0
981    Switzerland      False    2014     11.0       True    1928         NaN
982    Switzerland      False    2014     11.0       True    1948         9.0
983    Switzerland      False    2016      7.0       True    1928         NaN
984    Switzerland      False    2016      7.0       True    1948         9.0

[985 rows x 7 columns]

In [541]:
countries_to_compare.groupby(['countryName', 'Total_v' ]).sum()

Medal                at_home_x  Year_x  at_home_y  Year_y  Total_host
countryName Total_v
Australia   4.0              0    3856          2    3956        93.0
            5.0              0    3864          2    3956        93.0
            7.0              0    3848          2    3956        93.0
            9.0              0    3960          2    3956        93.0
            11.0             0    3904          2    3956        93.0
...                        ...     ...        ...     ...         ...
Switzerland 17.0             0    3856          2    3876         9.0
            19.0             0    3976          2    3876         9.0
            21.0             0    3872          2    3876         9.0
            22.0             0    3896          2    3876         9.0
            28.0             0    3848          2    3876         9.0

[255 rows x 5 columns]

In [546]:
when_host = countries_to_compare.groupby(['countryName']).Total_host.nunique().to_frame('sum')

In [547]:
when_host

             sum
countryName
Australia      2
Austria        2
Belgium        1
Canada         1
China          1
Finland        1
France         3
Germany        1
Greece         3
Italy          1
Japan          3
Mexico         1
Netherlands    1
Norway         2
Russia         1
South Korea    1
Spain          1
Sweden         1
Switzerland    1

In [544]:
countries_to_compare.reset_index(inplace=True)

In [545]:
countries_to_compare

Medal,index,countryName,at_home_x,Year_x,Total_v,at_home_y,Year_y,Total_host
0,0,Australia,False,1896,NaN,True,1956,35.0
1,1,Australia,False,1896,NaN,True,2000,58.0
2,2,Australia,False,1900,NaN,True,1956,35.0
3,3,Australia,False,1900,NaN,True,2000,58.0
4,4,Australia,False,1904,NaN,True,1956,35.0
...,...,...,...,...,...,...,...,...
980,980,Switzerland,False,2012,NaN,True,1948,9.0
981,981,Switzerland,False,2014,11.0,True,1928,NaN
982,982,Switzerland,False,2014,11.0,True,1948,9.0
983,983,Switzerland,False,2016,7.0,True,1928,NaN
984,984,Switzerland,False,2016,7.0,True,1948,9.0

In [548]:
when_host= countries_to_compare.pivot_table(index=['countryName'], values='Total_host', aggfunc='count')
when_host.reset_index(inplace=True)
when_host

In [557]:
when_vist = countries_to_compare.pivot_table(index=['countryName'], values='Total_v',aggfunc= 'count')
when_vist.reset_index(inplace=True)
when_vist